{% extends 'SonataAdminBundle:Core:dashboard.html.twig' %}


{% block breadcrumb %}
    <ol class="nav navbar-top-links breadcrumb">
        <li>
            <a href="{{ path('home') }}"><i class="fa fa-home"></i> {{ 'Volver al frontal'|trans }}</a>
        </li>
    </ol>
{% endblock %}



